<div class="navbar vh-100 bg-body-tertiary position-fixed" style="width: 296px;">
  <div class="container-fluid d-flex h-100">
    <nav class="nav flex-column mt-4 mb-auto">
        <!-- logo -->
        <img src="../assets/images/logo-ANSWER.svg" alt="" class="mb-4">

        <!-- nav -->
        <a class="nav-link" aria-current="page" href="#">
            <span class="material-icons fs-3 align-middle me-3">
                assessment
            </span>
            Dashboard
        </a>
        <a class="nav-link" href="#">
            <span class="material-icons fs-3 align-middle me-3">
                question_answer
            </span>
            Question
        </a>
        <a class="nav-link text-success active border-start border-success border-3 px-0" href="#">
            <span class="material-icons fs-3 align-middle me-3">
                assignment
            </span>
            Assignment
        </a>
        <a class="nav-link" href="#">
            <span class="material-icons fs-3 align-middle me-3">
                video_library
            </span>
            Course
        </a>
        <a class="nav-link" href="#">
            <span class="material-icons fs-3 align-middle me-3">
                people
            </span>
            Admin
        </a>
        <a class="nav-link" href="#">
            <span class="material-icons fs-3 align-middle me-3">
                video_library
            </span>
            Settings
        </a>
    </nav>

    <!-- user -->
    <div class="d-flex align-items-center mt-auto mb-4">
        <div class="flex-shrink-0">
          <img src="../assets/images/andychen.jpeg" alt="andychen-img" class="rounded-5 object-fit-cover" style="width:48px;height:48px;">
        </div>
        <div class="flex-grow-1 ms-3">
            <span class="fw-bold">Andy Chen</span><br>
            <a href="mailto:andy0401@mail.com" class="text-decoration-none"><span class="text-black-50">andy0401@mail.com</span></a>
        </div>
    </div>
</div>
</div>